body {
    margin: 0px;
    padding: 0px;
    background-image: url('../img/TelerikBackground.png');
    background-repeat: repeat;
}

img {
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

#header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 75px;
    font-weight: 500;
    color: #F8F8F8;
    margin-top: 23px;
    margin-bottom: 70px;
}

#AlgoAcademy, #SoftwareAcademy {
    margin-bottom: 20%;
    margin-top: 30%;
}

/*Magic margin , do not touch please*/
@media (max-width:720px) {
    img {
        margin: 10%;
    }

    #SoftwareAcademy {
        margin-top: -7%;
    }

    #AlgoAcademy {
        margin-top: -5%;
    }
}

/*Images should glow on mouse hover*/
#KidsAcademy:hover {
    border-style: inset;
    border-width: 5px;
    border-color: orange;
}

#SchoolAcademy:hover {
    border-style: inset;
    border-width: 5px;
    border-color: yellowgreen;
}

#AlgoAcademy:hover {
    border-style: inset;
    border-width: 5px;
    border-color: yellowgreen;
}

#SoftwareAcademy:hover {
    border-style: inset;
    border-width: 5px;
    border-color: yellowgreen;
}
